In [1]:
import pandas as pd

In [2]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
engine='python'

In [58]:
df = pd.read_csv('/content/drive/MyDrive/feed-views.log', sep = '\t', skiprows = [2,3], skipfooter=2, names=['datatime', 'name'], index_col = 'datatime', engine='python')
df.head()

                              name
datatime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [59]:
df.tail()

                                 name
datatime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [52]:
df.index.name = 'data_time'
df

                                 name
data_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

In [55]:
df.to_csv('/content/drive/MyDrive/feed-views-semicolon.log', sep = ';')